In [1]:
a = range(5)
print(a)
print(a[0], a[1], a[2], a[3], a[4])

range(0, 5)
0 1 2 3 4

In [2]:
b = range(2, 6)
print(b[0], b[1], b[2], b[3])

2 3 4 5

In [3]:
c = range(0, 6, 2)
print(c[0], c[1], c[2])

0 2 4

In [4]:
d = range(6, 0, -2)
print(d[0], d[1], d[2])

6 4 2

In [16]:
#range通常和for迴圈搭配, for i in range
for i in range(5):
 print(i)

for i in range(3):
 print("hi")

import random
for i in range(10):
 r = random.randint(1,100)
 print(r)

for i in range(100):
 r = random.randint(1,1000)
 print("第", i, "個隨機變數的值是", r)
t = 0

for i in range(100):
 t += 50
 print("第", i, "個數是", t )

0
1
2
3
4
hi
hi
hi
26
1
88
43
43
26
76
65
95
23
第 0 個隨機變數的值是 15
第 1 個隨機變數的值是 580
第 2 個隨機變數的值是 966
第 3 個隨機變數的值是 321
第 4 個隨機變數的值是 958
第 5 個隨機變數的值是 116
第 6 個隨機變數的值是 161
第 7 個隨機變數的值是 683
第 8 個隨機變數的值是 816
第 9 個隨機變數的值是 561
第 10 個隨機變數的值是 315
第 11 個隨機變數的值是 536
第 12 個隨機變數的值是 861
第 13 個隨機變數的值是 850
第 14 個隨機變數的值是 510
第 15 個隨機變數的值是 94
第 16 個隨機變數的值是 774
第 17 個隨機變數的值是 172
第 18 個隨機變數的值是 367
第 19 個隨機變數的值是 212
第 20 個隨機變數的值是 733
第 21 個隨機變數的值是 371
第 22 個隨機變數的值是 717
第 23 個隨機變數的值是 693
第 24 個隨機變數的值是 389
第 25 個隨機變數的值是 713
第 26 個隨機變數的值是 207
第 27 個隨機變數的值是 97
第 28 個隨機變數的值是 282
第 29 個隨機變數的值是 97
第 30 個隨機變數的值是 897
第 31 個隨機變數的值是 302
第 32 個隨機變數的值是 731
第 33 個隨機變數的值是 577
第 34 個隨機變數的值是 93
第 35 個隨機變數的值是 288
第 36 個隨機變數的值是 793
第 37 個隨機變數的值是 840
第 38 個隨機變數的值是 345
第 39 個隨機變數的值是 460
第 40 個隨機變數的值是 801
第 41 個隨機變數的值是 578
第 42 個隨機變數的值是 413
第 43 個隨機變數的值是 307
第 44 個隨機變數的值是 715
第 45 個隨機變數的值是 68
第 46 個隨機變數的值是 309
第 47 個隨機變數的值是 444
第 48 個隨機變數的值是 238
第 49 個隨機變數的值是 994
第 50 個隨機變數的值是 314
第 51 個隨機變數的值是 585
第 52 個隨機變數的值是 248
第 53 個隨機變數的值是 235
第 54 個隨機變數的值是 673
第 55 個隨機變數的值是 504
第 56 個隨機變數的值是 256
第 57 個隨機變數的值是 759
第 58 個隨機變數的值是 546
第 59 個隨機變數的值是 6
第 60 個隨機變數的值是 700
第 61 個隨機變數的值是 596
第 62 個隨機變數的值是 737
第 63 個隨機變數的值是 888
第 64 個隨機變數的值是 690
第 65 個隨機變數的值是 604
第 66 個隨機變數的值是 377
第 67 個隨機變數的值是 889
第 68 個隨機變數的值是 102
第 69 個隨機變數的值是 769
第 70 個隨機變數的值是 598
第 71 個隨機變數的值是 996
第 72 個隨機變數的值是 131
第 73 個隨機變數的值是 470
第 74 個隨機變數的值是 653
第 75 個隨機變數的值是 758
第 76 個隨機變數的值是 374
第 77 個隨機變數的值是 92
第 78 個隨機變數的值是 601
第 79 個隨機變數的值是 229
第 80 個隨機變數的值是 507
第 81 個隨機變數的值是 367
第 82 個隨機變數的值是 155
第 83 個隨機變數的值是 331
第 84 個隨機變數的值是 678
第 85 個隨機變數的值是 364
第 86 個隨機變數的值是 35
第 87 個隨機變數的值是 948
第 88 個隨機變數的值是 512
第 89 個隨機變數的值是 100
第 90 個隨機變數的值是 656
第 91 個隨機變數的值是 929
第 92 個隨機變數的值是 548
第 93 個隨機變數的值是 607
第 94 個隨機變數的值是 415
第 95 個隨機變數的值是 922
第 96 個隨機變數的值是 495
第 97 個隨機變數的值是 140
第 98 個隨機變數的值是 729
第 99 個隨機變數的值是 968
第 0 個數是 50
第 1 個數是 100
第 2 個數是 150
第 3 個數是 200
第 4 個數是 250
第 5 個數是 300
第 6 個數是 350
第 7 個數是 400
第 8 個數是 450
第 9 個數是 500
第 10 個數是 550
第 11 個數是 600
第 12 個數是 650
第 13 個數是 700
第 14 個數是 750
第 15 個數是 800
第 16 個數是 850
第 17 個數是 900
第 18 個數是 950
第 19 個數是 1000
第 20 個數是 1050
第 21 個數是 1100
第 22 個數是 1150
第 23 個數是 1200
第 24 個數是 1250
第 25 個數是 1300
第 26 個數是 1350
第 27 個數是 1400
第 28 個數是 1450
第 29 個數是 1500
第 30 個數是 1550
第 31 個數是 1600
第 32 個數是 1650
第 33 個數是 1700
第 34 個數是 1750
第 35 個數是 1800
第 36 個數是 1850
第 37 個數是 1900
第 38 個數是 1950
第 39 個數是 2000
第 40 個數是 2050
第 41 個數是 2100
第 42 個數是 2150
第 43 個數是 2200
第 44 個數是 2250
第 45 個數是 2300
第 46 個數是 2350
第 47 個數是 2400
第 48 個數是 2450
第 49 個數是 2500
第 50 個數是 2550
第 51 個數是 2600
第 52 個數是 2650
第 53 個數是 2700
第 54 個數是 2750
第 55 個數是 2800
第 56 個數是 2850
第 57 個數是 2900
第 58 個數是 2950
第 59 個數是 3000
第 60 個數是 3050
第 61 個數是 3100
第 62 個數是 3150
第 63 個數是 3200
第 64 個數是 3250
第 65 個數是 3300
第 66 個數是 3350
第 67 個數是 3400
第 68 個數是 3450
第 69 個數是 3500
第 70 個數是 3550
第 71 個數是 3600
第 72 個數是 3650
第 73 個數是 3700
第 74 個數是 3750
第 75 個數是 3800
第 76 個數是 3850
第 77 個數是 3900
第 78 個數是 3950
第 79 個數是 4000
第 80 個數是 4050
第 81 個數是 4100
第 82 個數是 4150
第 83 個數是 4200
第 84 個數是 4250
第 85 個數是 4300
第 86 個數是 4350
第 87 個數是 4400
第 88 個數是 4450
第 89 個數是 4500
第 90 個數是 4550
第 91 個數是 4600
第 92 個數是 4650
第 93 個數是 4700
第 94 個數是 4750
第 95 個數是 4800
第 96 個數是 4850
第 97 個數是 4900
第 98 個數是 4950
第 99 個數是 5000

In [14]:
for a in range(6):
 print(a, end =" ")
print("")

0 1 2 3 4 5

In [15]:
for b in range(1, 6, 2):
 print(b, end =" ")
print("")

1 3 5

In [17]:
for c in range(2, 6):
 print(c, end =" ")
print("")

2 3 4 5

In [18]:
for d in range(6, 1, -2):
 print(d, end =" ")

6 4 2

In [19]:
s = int(input('請輸入加總開始值?'))
e = int(input('請輸入加總終止值?'))
inc = int(input('請輸入遞增減值?'))
sum = 0 #初始結果
for i in range(s, e, inc): #判斷條件
 sum = sum + i #更新結果
 print('i為', i, '加總結果為', sum)

請輸入加總開始值?2
請輸入加總終止值?23
請輸入遞增減值?3
i為 2 加總結果為 2
i為 5 加總結果為 7
i為 8 加總結果為 15
i為 11 加總結果為 26
i為 14 加總結果為 40
i為 17 加總結果為 57
i為 20 加總結果為 77

In [20]:
sum = 0
for x in range(1, 11, 2):
 sum = sum + x
print("1+3+5+7+9=", sum)

1+3+5+7+9= 25

In [21]:
for a in range(6):
 print(a, end=" ")
print("")

0 1 2 3 4 5

In [22]:
for b in range(1, 6, 2):
 print(b, end=" ")
print("")

1 3 5

In [23]:
for c in range(2, 6):
 print(c, end=" ")
print("")

2 3 4 5

In [24]:
for d in range(6, 1, -2):
 print(d, end=" ")
print("")

6 4 2

In [25]:
n = int(input('請輸入n值?'))
sum = 0;
for i in range(1,n+1):
 sum = sum + i*i;
print(sum)

請輸入n值?5
55

In [27]:
a = int(input("請輸入第1個數字:"))
b = int(input("請輸入第2個數字:"))
for c in range(a, 1, -1):
 if (a % c == 0 and b % c == 0):
  break
print("最大公約數 GCD =", c)
for c in range(a, a * b):
 if (c % a == 0 and c % b == 0):
  break
print("最小公倍數 LCM =", c)

請輸入第1個數字:36
請輸入第2個數字:8
最大公約數 GCD = 4
最小公倍數 LCM = 72

In [29]:
num = int(input('輸入求第幾項費氏數列?'))
a = 1
b = 1
print(1,a)
for i in range(2, num+1):
 a, b = b, a+b
 print(i, a)

輸入求第幾項費氏數列?10
1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34
10 55

In [30]:
import random
while True:
 dice = random.randint(1,6)
 print(dice)
 if dice == 6:
  break

1
3
5
2
1
5
6